extends base.pug

block title 
  title Make a survey 

block scripts
  script(src="scripts/add_question_edit.js") 

block content 
  .container
    input(type="hidden" name="user-id" value=userId)
    .make-a-survey-heading
      h2(class="survey-title" name=survey._id) Survey name: #{survey.title}
      button(id="save-survey") Save survey
    .current-questions
      .question-boxes-edit 
        each question in survey.questions
          .question-box-edit(name=question._id)
              p Click on any text to change it
              .question-box-edit-bottom
                .question-box-edit-left
                  span(class="question-title-edit") #{question.title}                 
                  .answers-edit
                    each answer in question.answers 
                      p(class="answer_"+question._id)= answer
                .question-box-edit-right
                  p(class="question-type-edit")= question.type

    .new-question-form
      .new-question-top
        .new-question-text
          p Question:
          input(name="question-text-input" type="text")
      
        .new-question-dropdown
          select(id="question-type")
            option(value="") Choose question type 
            option(value="text") Text 
            option(value="radio") Radio 
            option(value="checkbox") Checkbox
      .new-question-bottom
        .option-area 
      
        button(id="add-question-button") Add new question